#top{
    width: 50%;;
    color: red;
    border-style: dotted;
    border-color: lightsalmon;
    margin-left: 25%;
    padding-left: 25%;
    
}
#bottom{
    width: 50%;
    color: lawngreen;
    border-style: double;
    border-color: maroon;
    margin-top: 30%;
    margin-left: 25%;
    padding-left: 25%;
}
h1{
    font-family: 'Oswald', sans-serif;
}