h3{
    color: #5e068a;
    font-size: 32px;
    margin-bottom: 20px;
    padding-top: 22px;
    font-weight: 700;
    max-width: 540px;
    line-height: 1.2;
    text-transform: capitalize;
}
a{
    color: black;
}
#learn{
    margin-top: 75px;
}
#tech
{
     color: #5e068a99;;
}