/* tag/class/id{
    property:value;
    property:value;
}
*/
h1{
    color:red;
}
body{
    background-color: gray;
}
h2{
    color: #e303fc;
}
#one{
    color: aquamarine;
}
div{
    border-style: dotted;
    border-color: brown;
    background-color: blueviolet;
}
#second{
    border-style: double;
    border-color: black;
}
.third{
    border-style: solid;
    border-color: rgb(255, 0, 119);
    background-color: deepskyblue;
}
#i{
    color: fuchsia;
}